{% extends 'base.html' %}

{% block title %} PANEL KLIENTA {% endblock %}

{% block extra_head %}
{% endblock %}

{% block jumbotron %}Panel Klienta{% endblock %}

{% block content %}

<div style="width:50%;" class="text-left">
<div id="user_info">
    <table class="table table-sm">
        <tr class="table-active">
            <th colspan="2">Moje dane</th>
        </tr>
        <tr>
            <td>Imie i nazwisko:  </td>
            <td>{{ user_dashboard.name }}</td>
        </tr>
        <tr>
            <td>Podmiot:  </td>
            <td>{{ user_dashboard.company_name }}</td>
        </tr>
        <tr>
            <td>Nip:  </td>
            <td>{{ user_dashboard.nip }}</td>
        </tr>
        <tr>
            <td>Adres pocztowy:  </td>
            <td>{{ user_dashboard.postal_address }}</td>
        </tr>
        <tr>
            <td>Telefon:  </td>
            <td>{{ user_dashboard.telephone }}</td>
        </tr>
    </table>
    </div>


<div id="projects_info" class="pt-4">
    <h4>Lista moich projektów</h4>
    {% if all_projects %}
    <table class="table table-sm">
        <tr class="table-active">
            <th scope="col">Nazwa projektu</th>
            <th scope="col">Status</th>
        </tr>
        {% for project in all_projects %}
            <tr>
                <td><a href="{% url 'dashboard:project_details' project.id %}">{{ project }}</a></td>
                <td>{{ project.status }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Nie posiadasz jeszcze żadnych projektów.</p>
    {% endif %}
</div>
<a href="{% url 'dashboard:new_project' %}"><input class="mb-3 mt-3 btn btn-primary" type="button" value="Dodaj projekt"></a>
</div>
{% endblock %}