{% extends 'base.html' %}

{% block title %} Panel Wykonawcy {% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<h1>Panel Wykonawcy</h1>
<h2> {{ busy_executor }} </h2>
<table>
        <tr>
            <td>Zadanie do przypisania</td>
            <td>Pochodzi z projektu</td>
            <td>Status</td>
            <td>Przypisanie do:</td>
        </tr>
    {% for task in list_of_tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.project }}</td>
            <td>{{ task.status }}</td>

            {% if task.executor is None %}
                <td></td>
            {% else %}
            <td>{{ task.executor }}</td>
            {% endif %}

            {% if task.status.name == "W trakcie" and busy_executor %}
                <td><a href="{% url 'dashboard:finish_task' task.id %}">Zakończ</a></td>
            {% elif task.status.name == "Zaplanowany" and not busy_executor  %}
                <td><a href="{% url 'dashboard:assign_task' task.id %}">Rezerwuj</a></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% endblock %}