{% extends 'base.html' %}

{% block title %} PANEL WYKONAWCY {% endblock %}

{% block extra_head %}
{% endblock %}

{% block jumbotron %}Panel Wykonawcy{% endblock %}

{% block content %}

<div style="width:50%;" class="text-left">
{% if list_of_tasks %}
    <table class="table table-sm">
            <tr class="table-active">
                <th scope="col">Zadanie</th>
                <th scope="col">Z projektu</th>
                <th scope="col">Status</th>
                <th scope="col">Przypisanie do</th>
            </tr>
        {% for task in list_of_tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td><a href="{% url 'dashboard:project_details' task.project.id %}">{{ task.project }}</a></td>
                <td>{{ task.status }}</td>

                {% if task.executor is None %}
                    <td></td>
                {% else %}
                <td>{{ task.executor }}</td>
                {% endif %}

                {% if busy_executor %}
                    {% if task.status.name == "W trakcie" and task.executor.id == user.id %}
                        <td><a href="{% url 'dashboard:finish_task' task.id %}" class="btn btn-success p-2">Zakończ</a></td>
                    {% endif %}
                {% elif task.status.name == "Zaplanowany" %}
                    <td><a href="{% url 'dashboard:assign_task' task.id %}" class="btn btn-success p-2">Rezerwuj</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Nie zostałeś jeszcze przypisany do żadnych projektów.</p>
{% endif %}
</div>
{% endblock %}