{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Formularz projektu {% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        let taskList = [];

        document.querySelector('#submit_task').disabled = true;

        document.querySelector('#input_task').onkeyup = function() {
            if (document.querySelector('#input_task').value.length > 0) {
                document.querySelector('#submit_task').disabled = false;
            }
            else {
                document.querySelector('#submit_task').disabled = true;
            }
        }

        document.querySelector('#submit_task').onclick = function () {
            let task = document.querySelector('#input_task').value;

            taskList.push(task);

            let li = document.createElement('li');
            li.innerHTML = task;

            let new_input_task = document.createElement('input');
            new_input_task.setAttribute('type', 'hidden');
            new_input_task.setAttribute('value', task);
            new_input_task.setAttribute('name', ('task'+task));

            document.querySelector('#main_form').append(new_input_task);

            document.querySelector('ul').append(li);

            document.querySelector('#input_task').value = "";
            document.querySelector('#submit_task').disabled = true;

            return false;
        }
    });
</script>

<h1>Formularz projektu</h1>
<form method="post" id="main_form">
    {% csrf_token %}
    {{ project_form|crispy }}

    <h3>Lista zadań:</h3>
        <input id="input_task" type="text">
        <input id="submit_task" type="button" value="Dodaj">

    <ul id="task_list">
    </ul>

    <input type="submit" value="Zapisz">
    <input type="hidden">
</form>


{% endblock %}