{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %} Formularz projektu {% endblock %}

{% block extra_head %}
<script src="{% static 'project_form.js' %}" type="text/javascript"></script>
{% endblock %}

{% block jumbotron %}FORMULARZ PROJEKTU{% endblock %}

{% block content %}

<div style="width:50%;" class="text-left">
    <form method="post" id="main_form">
        {% csrf_token %}
        {{ project_form|bootstrap }}

        <h3>Lista zadań:</h3>
            <input id="input_task" type="text" class="form-control-sm mr-sm-2">
            <input id="submit_task" type="button" value="Dodaj" class="btn btn-outline-primary p-1">
            <ul id="task_list">
            </ul>


        <input type="submit" value="Zapisz projekt" class="btn btn-primary mt-5">
    </form>
    <p><a href="{% url 'dashboard:home' %}" class="btn btn-secondary">Wróć</a></p>
</div>


{% endblock %}