{% extends 'base.html' %}

{% block title %} PROJEKT - {{ project.title }} {% endblock %}

{% block extra_head %}

{% endblock %}

{% block jumbotron %}PROJEKT - {{ project.title }}{% endblock %}

{% block content %}

<div style="width:50%;" class="text-left">
<div id="project_info">
    <p><a class="text-info no_hover_effect">Status: </a> {{ project.status }}</p>
    <p><a class="text-info no_hover_effect">Opis: </a>{{ project.description }}</p>
    <h4 class="pt-4">Wykonawcy:</h4>
    <ul id="id_executors">
        {% for executor in executors %}
        <li>
            {{ executor }}
        </li>
        {% endfor %}
    </ul>

    <h4 class="pt-4">Zadania:</h4>
    <table class="table table-sm">
        <tr class="table-active">
            <td>Zadanie</td>
            <td>Status</td>
            <td>Wykonuje</td>
        </tr>
        {% for task in tasks %}
            <tr>
                <td><a>{{ task }}</a></td>
                <td>{{ task.status }}</td>
                {% if task.executor is None %}
                    <td></td>
                {% else %}
                <td>{{ task.executor }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'dashboard:home' %}" class="btn btn-secondary mt-5">Wróć</a></p>
</div>
</div>
{% endblock %}